openapi: 3.0.0
info:
  title: Firecrawl Account Miscellaneous API
  version: v2
  description: API for interacting with Firecrawl services to perform web scraping and crawling tasks.
  contact:
    name: Firecrawl Support
    url: https://firecrawl.dev/support
    email: support@firecrawl.dev
servers:
- url: https://api.firecrawl.dev/v2
security:
- bearerAuth: []
tags:
- name: Miscellaneous
paths:
  /team/queue-status:
    get:
      summary: Metrics about your team's scrape queue
      operationId: getQueueStatus
      tags:
      - Miscellaneous
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  jobsInQueue:
                    type: number
                    description: Number of jobs currently in your queue
                  activeJobsInQueue:
                    type: number
                    description: Number of jobs currently active
                  waitingJobsInQueue:
                    type: number
                    description: Number of jobs currently waiting
                  maxConcurrency:
                    type: number
                    description: Maximum number of concurrent active jobs based on your plan
                  mostRecentSuccess:
                    type: string
                    format: date-time
                    description: Timestamp of the most recent successful job
                    nullable: true
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
