openapi: 3.0.0
info:
  title: Firecrawl Account Agent API
  version: v2
  description: API for interacting with Firecrawl services to perform web scraping and crawling tasks.
  contact:
    name: Firecrawl Support
    url: https://firecrawl.dev/support
    email: support@firecrawl.dev
servers:
- url: https://api.firecrawl.dev/v2
security:
- bearerAuth: []
tags:
- name: Agent
paths:
  /agent:
    post:
      summary: Start an agent task for agentic data extraction
      operationId: startAgent
      tags:
      - Agent
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                urls:
                  type: array
                  items:
                    type: string
                    format: uri
                  description: Optional list of URLs to constrain the agent to
                prompt:
                  type: string
                  description: The prompt describing what data to extract
                  maxLength: 10000
                schema:
                  type: object
                  description: Optional JSON schema to structure the extracted data
                maxCredits:
                  type: number
                  description: Maximum credits to spend on this agent task. Defaults to 2500 if not set. Values above 2,500 are always billed as paid requests.
                strictConstrainToURLs:
                  type: boolean
                  description: If true, agent will only visit URLs provided in the urls array
                model:
                  type: string
                  enum:
                  - spark-1-mini
                  - spark-1-pro
                  default: spark-1-mini
                  description: The model to use for the agent task. spark-1-mini (default) is 60% cheaper, spark-1-pro offers higher accuracy for complex tasks
              required:
              - prompt
      responses:
        '200':
          description: Agent task started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  id:
                    type: string
                    format: uuid
        '402':
          description: Payment required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Payment required to access this resource.
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Rate limit exceeded.
  /agent/{jobId}:
    parameters:
    - name: jobId
      in: path
      description: The ID of the agent job
      required: true
      schema:
        type: string
        format: uuid
    get:
      summary: Get the status of an agent job
      operationId: getAgentStatus
      tags:
      - Agent
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  status:
                    type: string
                    enum:
                    - processing
                    - completed
                    - failed
                  data:
                    type: object
                    description: The extracted data (only present when status is completed)
                  model:
                    type: string
                    enum:
                    - spark-1-pro
                    - spark-1-mini
                    default: spark-1-pro
                    description: Model preset used for the agent run
                  error:
                    type: string
                    description: Error message (only present when status is failed)
                  expiresAt:
                    type: string
                    format: date-time
                  creditsUsed:
                    type: number
    delete:
      summary: Cancel an agent job
      operationId: cancelAgent
      tags:
      - Agent
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Agent job cancelled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
