openapi: 3.0.0
info:
  title: Firecrawl Account Billing API
  version: v2
  description: API for interacting with Firecrawl services to perform web scraping and crawling tasks.
  contact:
    name: Firecrawl Support
    url: https://firecrawl.dev/support
    email: support@firecrawl.dev
servers:
- url: https://api.firecrawl.dev/v2
security:
- bearerAuth: []
tags:
- name: Billing
paths:
  /team/credit-usage:
    get:
      summary: Get remaining credits for the authenticated team
      operationId: getCreditUsage
      tags:
      - Billing
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      remainingCredits:
                        type: number
                        description: Number of credits remaining for the team
                        example: 1000
                      planCredits:
                        type: number
                        description: Number of credits in the plan. This does not include coupon credits, credit packs, or auto recharge credits.
                        example: 500000
                      billingPeriodStart:
                        type: string
                        format: date-time
                        description: Start date of the billing period. null if using the free plan
                        example: '2025-01-01T00:00:00Z'
                        nullable: true
                      billingPeriodEnd:
                        type: string
                        format: date-time
                        description: End date of the billing period. null if using the free plan
                        example: '2025-01-31T23:59:59Z'
                        nullable: true
        '404':
          description: Credit usage information not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Could not find credit usage information
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Internal server error while fetching credit usage
  /team/credit-usage/historical:
    get:
      summary: Get historical credit usage for the authenticated team
      operationId: getHistoricalCreditUsage
      tags:
      - Billing
      security:
      - bearerAuth: []
      parameters:
      - name: byApiKey
        in: query
        description: Get historical credit usage by API key
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  periods:
                    type: array
                    items:
                      type: object
                      properties:
                        startDate:
                          type: string
                          format: date-time
                          description: Start date of the billing period
                          example: '2025-01-01T00:00:00Z'
                        endDate:
                          type: string
                          format: date-time
                          description: End date of the billing period
                          example: '2025-01-31T23:59:59Z'
                        apiKey:
                          type: string
                          description: Name of the API key used for the billing period. null if byApiKey is false (default)
                          nullable: true
                        totalCredits:
                          type: integer
                          description: Total number of credits used in the billing period
                          example: 1000
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Internal server error while fetching historical credit usage
  /team/token-usage:
    get:
      summary: Get remaining tokens for the authenticated team (Extract only)
      operationId: getTokenUsage
      tags:
      - Billing
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      remainingTokens:
                        type: number
                        description: Number of tokens remaining for the team
                        example: 1000
                      planTokens:
                        type: number
                        description: Number of tokens in the plan. This does not include coupon tokens.
                        example: 500000
                      billingPeriodStart:
                        type: string
                        format: date-time
                        description: Start date of the billing period. null if using the free plan
                        example: '2025-01-01T00:00:00Z'
                        nullable: true
                      billingPeriodEnd:
                        type: string
                        format: date-time
                        description: End date of the billing period. null if using the free plan
                        example: '2025-01-31T23:59:59Z'
                        nullable: true
        '404':
          description: Token usage information not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Could not find token usage information
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Internal server error while fetching token usage
  /team/token-usage/historical:
    get:
      summary: Get historical token usage for the authenticated team (Extract only)
      operationId: getHistoricalTokenUsage
      tags:
      - Billing
      security:
      - bearerAuth: []
      parameters:
      - name: byApiKey
        in: query
        description: Get historical token usage by API key
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  periods:
                    type: array
                    items:
                      type: object
                      properties:
                        startDate:
                          type: string
                          format: date-time
                          description: Start date of the billing period
                          example: '2025-01-01T00:00:00Z'
                        endDate:
                          type: string
                          format: date-time
                          description: End date of the billing period
                          example: '2025-01-31T23:59:59Z'
                        apiKey:
                          type: string
                          description: Name of the API key used for the billing period. null if byApiKey is false (default)
                          nullable: true
                        totalTokens:
                          type: integer
                          description: Total number of tokens used in the billing period
                          example: 1000
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Internal server error while fetching historical token usage
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
